---
/* Componente de sección "Sobre Mi" */
---

<section id="sobre-mi" class="py-10 w-full text-gray-900 dark:text-white" data-aos="fade-right">
    <div class="container mx-auto px-6">
        <div
            class="flex flex-col md:flex-row gap-8 items-center justify-center"
        >
            <!-- Foto de perfil -->
            <div
                class="w-40 h-40 md:w-48 md:h-48 rounded-full overflow-hidden shadow-lg"
            >
                <img
                    src="/perfil.jpeg"
                    alt="Tu foto"
                    class="w-full h-full object-cover"
                />
            </div>

            <!-- Descripción -->
            <div class="flex-1 text-center md:text-left">
                <p class="text-lg mb-4">
                    Desde joven, siempre tuve una gran curiosidad por cómo
                    funcionan las cosas, y eso me llevó a estudiar el mundo de la programación donde
                    descubrí mi verdadera pasión: el diseño de páginas
                    web. Mi enfoque es tanto el
                    desarrollo frontend (con tecnologías como React y Angular) como
                    el backend (usando Node.js y bases de datos como MySQL y
                    MongoDB).
                </p>
            </div>
        </div>
    </div>
</section>
