<header
  class={`
    flex justify-center items-center
    py-5
    sticky top-0
    w-full
    bg-gray-900
    z-10
  `}
>
  <nav
  data-aos="zoom-in-up"
    class={`
      border-none rounded-full
      px-3 py-1
      flex flex-row items-center
      bg-neutral-200 dark:bg-black/20
      backdrop-blur-2xl
      h-10
    `}
    style="font-size: 22px;"
  >
    <a class="hover:bg-white/10 rounded-full px-6 transition" href="#sobre-mi">Sobre mí</a>
    <a class="hover:bg-white/10 rounded-full px-6 transition" href="#habilidades">Habilidades</a>
    <a class="hover:bg-white/10 rounded-full px-6 transition" href="#experiencia">Experiencia</a>
    <a class="hover:bg-white/10 rounded-full px-6 transition" href="#proyectos">Proyectos</a>
  </nav>
</header>
